* {
  margin: 0;
  padding: 0;
  color: #ddd;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #4c4c4c;
}

.board-title {
  text-align: center;
  margin-bottom: 5rem;
}

.board-title h1 {
  font-size: 3rem;
}

.board-title .pause-info.hide {
  opacity: 0;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(150, 150, 150, .7);
}

.row {
  display: inline-block;
}

.cell .snake {
  background-color: #00cc00;
  width: 22px;
  height: 22px;
  margin-top: -1px;
  margin-left: -1px;
}

.cell .apple {
  margin-left: -2px;
  margin-top: 1px;
  width: 24px;
  height: 20px;
  background-color:  #ff4355;
  box-shadow: inset 0.8px -0.8px  #cc1022;
  border-radius: 8px 8px 12px 12px;
  position: relative;
}

.cell .apple:before {
  top: -.8px;
  left: 7.2px;
  content:"";
  width: 16.4px;
  height: 11px;
  background-color: inherit;
  border-radius: 12px 12px 0 0 ;
  position: absolute;
  box-shadow: -7px 0 0   #ff4355, inset .8px 0.8px  #ff4355;
}

.cell .apple:after{
  content:"";
  width: 0.8px;
  height: 4px;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -2px;
  left: 12px;
}

.cell .blueberry {
  position: relative;
  width: 24px;
  height: 22px;
  top: 0;
  left: -2px;
  border-radius: 50%;
  background-color: #89a2ca;
  box-shadow: inset 0.8px -.8px  #6081B8;
}

.cell .blueberry:before{
  content: "";
  width: 8px;
  height: 4px;
  left: 8px;
  position: absolute;
  background-color: #3e4d64;
  border-radius: 50%;
}

.stats {
  text-align: center;
  margin-top: 10px;
}

.game-over-modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(76, 76, 76, .9);
}

.game-over-modal .game-over-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.game-over-modal .game-over-modal-content h1 {
  font-size: 3rem;
}

.game-over-modal .game-over-modal-content button {
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 10px 15px;
  background-color: gray;
  margin-top: 2rem;
  cursor: pointer;
  color: #fff;
  background-color: #ff9000;
  box-shadow: 18px 12px 25px -14px rgb(0 0 0 / 75%);
  border-radius: 15px;
  transition: all .2s ease-in-out;
}

.game-over-modal .game-over-modal-content button:hover {
  background-color: #cc7300;
}